<div class="products">
    <select name="currency" [(ngModel)]="currency">
        <option value="EUR">Euros €</option>
        <option value="GBP">GB Pound £</option>
        <option value="USD">US Dollar $</option>
        <option value="CAD">CA Dollar $</option>
        <option value="JPY">JP Yen ¥</option>
        <option value="RUB">Rubblo Ruso Br</option>
    </select>
    <app-product [product]="product" 
    rate="{{(exchangeRates$ |async)?.rates[currency] || 1}}"
    [currency]="currency"
     *ngFor="let product of (products$ | async)"></app-product>
    
</div>